.twohrDrink-secton{
    background-color: #ececec;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    color: #533833;
    h1{
        font-size: 3.0em;
    }
    h5{
        font-size: 1.4em;
    }
    .twohrDrink-wrapper{
        background-image: url(../vector/uDrink1.png);
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 61vh;
    }
}


@media (max-width: 900px){
    .twohrDrink-secton{
        .twohrDrink-wrapper{
            background-image: url(../vector/uDrink2.png);
        }
    }
}

@media (max-width: 450px){
    .twohrDrink-secton{
        .twohrDrink-wrapper{
            background-image: url(../vector/uDrink3.png);
        }
    }
}